*{
  color: navy;
  font-size: 32px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #243646;
  color: #fff;
  height: 65px;
}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

nav a {
  color: lightblue;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 20px;
}


h1 {
  background-color: lightblue;
  padding-left: 4%;
}
/* display flex. image link as background */
.second-row {
  width: 100%;
  min-height: 400px;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  background-image: url("https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg");
  background-size: cover;
  align-items: flex-end;
}

#BrighterTomorrow{
  display: flex;
  justify-content: flex-end;
  
}

h2 {
  color: navy;  
  text-align: center;
  width: 30%;
}

h2 text {
  background-color: lightblue;
  font-size: 24px;

}



/* code for my contact info list at bottom of application */
.contact-info ul {
  color: black;
  text-decoration-line: underline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  height: 100%;
  width: 100%;
  align-items: center;
}

.contact-info li {
  font-size: 16px;
}



.second-row img {
 
  height: 30%;
  width: 20%;
}

.paragraph p {
  font-size: 16px;
  
}

.container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.container h3 {
  min-width: 165px;
}

.paragraph {
  border-left: solid 5px black;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  
}

.contact-info {
  width: 100%;
  border-left: solid 5px black;
}

#html-refactoring {
 max-width: 70%;
  height: 30vh;
  background-image:url("./images/Html-refactoring-picture.png"); 
  background-size: cover; 
  display: flex;
  align-items: flex-end;
}
/* applications class for my application links. all have same background and flex css. */
.applications {
  max-width: 40%;
  height: 25vh;
  background-image:url("https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg");
  border: black;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

.applications p {
  background-color: lightblue;
  max-height: 50px;
}


/* code not currently being used, but I am leaving it, so I can use individual images at a later time. */
#Password-Generator {
  background-image:url("https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg");
}
#work-calendar {
  background-image:url("https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg");
}
#weather-and-music {
  background-image:url("https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg");
}
#Note-Taker {
  background-image:url("https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg");
}

#refactor-link {
  background-color: lightblue;
}

.active {
  color: black;
}





/* media query. setting different rules for different size screens. */
@media screen and (max-width: 992px) {
.applications {
  max-width: 70%;
  height: 10vh;
}


/* Change the header color */
header {
  background: #772014;
}
}


@media screen and (max-width: 768px) {
.query a {
font-size: 10px;
}

#refactor-link a {
font-size: 10px;
}

.contact-info li {
font-size: 8px;

}
}

ul{
  list-style-type: none;
}